body {
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 778px;
    width: 1440px;
    position: fixed;
    /* overflow: none;
    overflow-x: none;
    overflow-y: none; */
    --color-background: #ffffff;
    --color-background-2: #000000;
    --color-decoration: rgb(251, 255, 217);
    --color-h1-title: #303030;
    --color-highlight: rgb(230, 255, 0);
    --color-h2-title: #303030;
    --color-button-primary: rgb(230, 255, 0); /*previous color: #54BF29*/
    --color-button-hover: rgb(181, 201, 0);
    --color-button-active: rgb(181, 201, 0);
    --color-button-focus: rgb(181, 201, 0);
    --color-button-text: black;
    --color-button-secondary: #dbdbdb;
    --button-gray-shadow: #757575;
    --button-yellow-shadow: rgb(181, 201, 0);
    --icons-active: rgb(230, 255, 0, 1);
    --icons-normal-state: rgb(255, 255, 255, 0);
    --delay-animation-row-1: 0s;
    --delay-animation-row-2: 0.1s;
    --delay-animation-row-3: 0.2s;
    --delay-animation-row-4: 0.3s;
    --delay-animation-row-5: 0.4s;
    --delay-animation-row-6: 0.5s;
    --delay-animation-row-7: 0.6s;
    --delay-animation-row-8: 0.7s;
    --delay-animation-row-9: 0.8s;
    --delay-animation-row-10: 0.9s;
    --delay-animation-title: 2s;
    --delay-animation-title-2: 1s;
    --delay-animation-title-3: 5s;
    --delay-animation-title-4: 7s;
    --delay-animation-title-5: 9s;
}

h1, h2, h3, h4, h5, h6, p, button {
    font-family: 'Poppins', sans-serif;
}

a {
    padding: 0 15px;
}

#background-landing {
    position: absolute;
    left: -750px;
    top: -350px;
    width: 1500px;
    height: 1500px;
    background-color: var(--color-button-primary);
    z-index: -9999;
    border-radius: 50%;
    box-shadow: 1px 0px 1px var(--color-button-hover), 1px 0px 1px var(--button-gray-shadow), -100px 0px 300px #f9ff9e, 20px 0px 50px #d6d6d2;
}

#landing-col-left {
    margin-top: 5rem;
}

#landing-col-right {
    margin-top: 325px;
    margin-left: 330px;
    text-align: left;
}

div.col-5 img {
    max-width: 300px;
    margin-left: -3rem;
}

#background {
    position: absolute;
    right: -200px;
    top: -1100px;
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    background-color: var(--color-decoration);
    z-index: -9999;
}

#background-consent {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-button-primary);
    width: 2000px;
    height: 1000px;
    z-index: -9999;
}

#consent-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 60px var(--button-yellow-shadow);
    width: 800px;
    height: 550px;
    margin-top: 125px;
}

#img-warning {
    margin-top: 30px;
    max-width: 175px;
    max-height: 175px;
}

#consent-box > div > h1 {
    text-align: center;
    padding-left: 30px;
}

#consent-box > div > h5 {
    text-align: justify;
    text-justify: auto !important;
    margin-top: 50px;
    margin-left: 45px;
    width: 650px;
    line-height: 1.7rem;
}

#nextsection-consent, #previoussection-consent {
    background-color: white !important;
}

#background-7 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2000px;
    height: 2000px;
    background-color: var(--color-background-2);
    z-index: -9999;
}

#header-bar{
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 1rem;
}

#wellnessforgood-logo{
    max-height: 80px;
    margin: 1rem 0 1rem 2rem;
}

#wellnessforgood-logo-alt{
    height: 100px;
    max-height: 80px;
    margin: 1rem 0 1rem 2rem;
}

h1 {
    font-size: 1.7rem;
    font-weight: 400;
    text-align: right;
    margin-right: 2rem;
    padding-top: 10px;
}

#h1-alternative {
    color: #ffffff;
 }


.container#pack-section-0 #row2 {
    margin-top: 1rem;
    align-content: center;
    justify-content: center;
}

.products-images-div {
    display: flex;
    border: solid 1px var(--button-yellow-shadow);
    border-radius: 8px;
    min-width: 160px;
    min-height: 200px;
    max-width: 160px;
    max-height: 200px;
    align-content: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px var(--button-yellow-shadow);
}

.active {
    border: solid 4px var(--button-yellow-shadow);
}

.products-images {
    max-width: 120px;
    max-height: 120px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 0.8rem;
}

h4 {
    font-size: 1.2rem;
    margin-top: 2rem;
}

a > h5 {
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
}

#replay-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    border: 1px solid #dbdbdb;
    background-color: #fcfcfc;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 550px;
    border-radius: 8px;
    box-shadow: -5px -5px 70px #f0f0f0, 5px 5px 100px #f0f0f0, 1px 1px 2px #d6d6d6;
}

#headphone-svg {
    margin: 0 auto;
    width: 120px;
}

#pause-button, #play-button, #replay-button {
    border-radius: 50%;
    border: solid 1px #e2e2e2;
}

#pause-button {
    width: 70px;
    height: 70px;
    margin-right: 2rem;
    margin-top: 2rem;
    background-color: var(--color-button-secondary);
    box-shadow: 5px 5px var(--button-gray-shadow);
}

#play-button {
    width: 100px;
    height: 100px;
    background-color: var(--color-button-primary);
    box-shadow: 10px 10px var(--button-yellow-shadow);
}

#replay-button {
    width: 70px;
    height: 70px;
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: var(--color-button-secondary);
    box-shadow: 5px 5px var(--button-gray-shadow);
}

.bi-arrow-clockwise {
    height: 40px;
    width: 40px;
    margin-left: -5px;
}

.bi-pause {
    height: 40px;
    width: 40px;
    margin-left: -5px;
}

.bi-play {
    height: 70px;
    width: 70px;
    margin-left: -5px;
}

#highlight {
    background: var(--color-highlight);
    margin: 0 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#highlight-2 {
    background: var(--color-highlight);
    margin: 0 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
}

#text-section-landing h1 {
    text-align: left;
    margin-top: 10rem;
    font-size: 2.2rem;
}

#text-section-landing h3 {
    margin-top: 6rem;
    font-weight: 200;
    font-size: 2.2rem;
}

#text-section-test, #text-section-0, #text-section-1, #text-section-2, #text-section-3, #text-section-4, #text-section-5, #text-section-6, #text-section-7, #text-section-8, #text-section-9, #text-section-10 {
    margin-top: 1.5rem;
    padding-left: 5rem;
    margin-bottom: 2.5rem;
}

#text-section-outcome {
    margin-left: 9rem;
}

#bold-text {
    font-size: 2.5rem;
}

#replay-section {
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 800;
    font-size: 1.8rem;
}

#h2-alternative {
    color: #ffffff;
    padding-top: 4rem;
    text-align: center;
    font-size: 2.5rem;
}

#h2-big {
    font-size: 2.5rem;
}


#h2-alternative-2 { 
    padding-top: 3rem;
    text-align: center;
}

.title-animation {
    color: rgba(255, 255, 255, 0);
    animation-name: titlefadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-title);
}

.title-animation-2 {
    color: rgba(255, 255, 255, 0);
    animation-name: titlefadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-title-2);
}

.title-animation-3 {
    color: rgba(255, 255, 255, 0);
    animation-name: titlefadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-title-3);
}

.title-animation-4 {
    color: rgba(255, 255, 255, 0);
    animation-name: titlefadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-title-4);
}

.title-animation-5 {
    color: rgba(255, 255, 255, 0);
    animation-name: titlefadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-title-5);
}

@keyframes titlefadein {
    0% {
        color: rgba(255, 255, 255, 0);
    }
    100% {
        color: #ffffff;
    }
}

h3 {
    font-weight: 200;
    font-size: 1.7rem;
}

#amount {
    font-weight: 500;
}

#row1 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-1);
    -moz-animation-delay: var(--delay-animation-row-1);
    -o-animation-delay: var(--delay-animation-row-1);
    -webkit-animation-delay: var(--delay-animation-row-1);
}

#row2 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-2);
    -moz-animation-delay: var(--delay-animation-row-2);
    -o-animation-delay: var(--delay-animation-row-2);
    -webkit-animation-delay: var(--delay-animation-row-2);
}

#row2-half {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-2);
    -moz-animation-delay: var(--delay-animation-row-2);
    -o-animation-delay: var(--delay-animation-row-2);
    -webkit-animation-delay: var(--delay-animation-row-2);
}

#row3 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-3);
    -moz-animation-delay: var(--delay-animation-row-3);
    -o-animation-delay: var(--delay-animation-row-3);
    -webkit-animation-delay: var(--delay-animation-row-3);
}
#row3-half {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-3);
    -moz-animation-delay: var(--delay-animation-row-3);
    -o-animation-delay: var(--delay-animation-row-3);
    -webkit-animation-delay: var(--delay-animation-row-3);
}

#row4 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-4);
    -moz-animation-delay: var(--delay-animation-row-4);
    -o-animation-delay: var(--delay-animation-row-4);
    -webkit-animation-delay: var(--delay-animation-row-4);
}

#row5 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-5);
    -moz-animation-delay: var(--delay-animation-row-5);
    -o-animation-delay: var(--delay-animation-row-5);
    -webkit-animation-delay: var(--delay-animation-row-5);
}

#row6 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-6);
    -moz-animation-delay: var(--delay-animation-row-6);
    -o-animation-delay: var(--delay-animation-row-6);
    -webkit-animation-delay: var(--delay-animation-row-6);
}

#row7 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-7);
    -moz-animation-delay: var(--delay-animation-row-7);
    -o-animation-delay: var(--delay-animation-row-7);
    -webkit-animation-delay: var(--delay-animation-row-7);
}

#row8 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-8);
    -moz-animation-delay: var(--delay-animation-row-8);
    -o-animation-delay: var(--delay-animation-row-8);
    -webkit-animation-delay: var(--delay-animation-row-8);
}

#row9 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-9);
    -moz-animation-delay: var(--delay-animation-row-9);
    -o-animation-delay: var(--delay-animation-row-9);
    -webkit-animation-delay: var(--delay-animation-row-9);
}

#row10 {
    opacity: 0;
    margin-left: 50px;
    max-width: 1000px;
    animation-name: divfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-row-10);
    -moz-animation-delay: var(--delay-animation-row-10);
    -o-animation-delay: var(--delay-animation-row-10);
    -webkit-animation-delay: var(--delay-animation-row-10);
}

.row-justified-left {
    margin-left: 49px !important;
}

.icons-pad {
    padding-left: 2px;
}

@keyframes divfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icons {
    background-color: var(--icons-normal-state);
}

#thousand-icons {
    width: 900px;
}

.highlight-animation {
    background-color: rgba(255, 255, 255, 0);
    animation-name: highlightfadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: var(--delay-animation-title);
    -moz-animation-delay: var(--delay-animation-row-1);
    -o-animation-delay: var(--delay-animation-row-1);
    -webkit-animation-delay: var(--delay-animation-row-1);
}

@keyframes highlightfadeIn {
    0% {
        background-color: var(--icons-normal-state);
    }
    100% {
        background-color: var(--icons-active);
    }
}

#nav-bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 0;
    overflow: hidden;
}

#nav-bar-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 0;
    overflow: hidden;
}

.nav-button {
    border: 1px solid #dedede;
    padding: 20px 2% 20px 2%;
    font-size: 1rem;
    text-transform: lowercase;
    border-radius: 10px;

}

.button-previous {
    margin-left: 3rem;
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
    background-color: var(--color-button-secondary);
    color: var(--color-button-text);
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 5px 5px var(--button-gray-shadow);
}

.button-next {
    width: 100px;
    height: 100px;
    margin-right: 3rem;
    margin-bottom: 1rem;
    background-color: var(--color-button-primary);
    color: var(--color-button-text);
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: 5px 5px var(--button-gray-shadow);
}

.button-alternative {
    box-shadow: 5px 5px var(--button-gray-shadow) !important;
}

/* Infinite Scroll Styling */

#infinite-div {
    position: absolute;
    top: 255px;
    left: 225px;
    height: 430px;
    width: 1000px;
    overflow-y: scroll;
}

#infinite-div::-webkit-scrollbar {
    display: none;
}

#row-infinite-image img {
max-width: 1000px;
}

#text-conclusion {
    max-width: 1000px;
    margin-top: 3rem;
}

div#text-conclusion > h3 {
    line-height: 3rem;
    color: rgb(255, 255, 255, 0);
}

div.col-6 h3 {
    margin-top: 0rem;
    font-weight: 200;
    font-size: 1.7rem;
    margin-left: 14rem;
    line-height: 3rem;
}

div.col-6 img {
    margin-left: 8rem;
    margin-top: -8rem;
}

/* #text-section-6 > h2 {
    margin-top: 1.3rem !important;
} */

#text-section-conclusion > h2 {
    margin-top: 5rem !important;
    margin-left: 3.4rem;
}

#conclusion-1 {
    color: rgba(255, 255, 255, 0);
    animation-name: conclusionfadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

#conclusion-2 {
    color: rgba(255, 255, 255, 0);
    animation-name: conclusionfadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: 2s;
}

@keyframes conclusionfadein {
    0% {
        color: rgba(255, 255, 255, 0);
    }
    100% {
        color: #000000;
    }
}

#text-section-bracelet > h2 {
    margin-top: 5rem;
    margin-left: 3.7rem;
}

div > .col-6 > h3 {
    margin-top: 4rem;
}

div > .col-6 > img {
    margin-top: -6rem;
}

.scroll-info {
    position: absolute;
    bottom: 20px;
    left: 400px;
}

#message-div {
    overflow: hidden;
}

.message {
    opacity: 0;
    position: absolute;
    z-index: 9999;
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px 15px 20px;
    box-shadow: 5px 5px 60px #d6d6d2;
    border: 1px solid #dedede;
    pointer-events: none;
}

.message > h3 {
    font-weight: 600;
}

#message-1 {
    top: 400px;
    left: 550px;
}

#message-2 {
    top: 425px;
    left: 550px;
}

#message-3 {
    top: 380px;
    left: 320px;
    width: 800px;
}